<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaintRatio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C64DC831D877E6F001D9709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C64DC971D877E70001D9709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C64DCA21D877E70001D9709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
